*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Nav bar */
.navbar,li,ul,a{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #2a414d;
}

.navbar{
    background-color: #5EB2DF;
    height: 60px;
    border-bottom: 3px solid #4481a2;
    user-select: none;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#logo{
    height: 50px;
    position: fixed;
    margin: 5px;
}

#rest_name{
    font-size: 25px;
    line-height: 55px;
    padding: 0 0 0 60px;
    
}

ul{
    float: right;
    margin-right: 10px;
}

li{
    display: inline-block;
}

div ul li a{
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    margin: 0 0px;
    font-size: 20px;
    width: 100%;
}

li:hover{
    background-color: #4481a2;
    transition: 500ms;
}

#menu{
    height: 50px;
    float: right;
    display: none;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    filter: invert(1);
}
#menu_active{
    display: none;
}

.active{
    font-weight: 500;
    border-bottom:4px solid #ff3b3b;
    line-height: 52px;
    padding-top: 4px;
    text-shadow: 2px 2px 1px #2a414d;
}

/* Footer */
.navfooter{
    background-color: #4481a2;
    height: 60px;
    margin-top: auto;

}


/* Responsive design */
@media only screen and (max-width:800px){

    /* Nav bar */
    #menu{
        display: block;
    }

    .icon{
        margin-top: 100px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #9dc9fb;
        top: 60px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }

    li{
        display: block;
        padding: 10px;
        margin: 13px 0;
    }

    div ul li a{
        font-size: x-large;
    }

    #menu_active:checked ~ ul{
        left: 0;
    }

    /*  */
    .footerItems{
        display: block;
    }
    #copyright{
        display: block;
        bottom: 0;
    }
}


#background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}

.formcontact{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #bdd8ec;
    padding: 20px 0;
    border-radius: 10px;
    border: 2px solid #2a414d;
}

.items{
    width: 90%;
    height: 44px;
    margin: 10px auto;
    display: block;
    align-self: center;
    border-radius: 10px;
    border: 2px solid black;
}

#formbody{
    padding-top: 160px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#submit_button{
    padding: 5px;
    background-color: #4481a2;
    border:2px solid #2a414d;
    color: white;
    border-radius: 10px;
}

#submit_button:hover{
    transition: 0.5s;
    background-color: white;
    border:2px solid #4481a2;
    color: 	#ff3b3b;
}


@media screen and (max-width: 500px) {

    .formcontact{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .amongus{
        display: none;
    }
    .copyright{
        font-size: small;
    }
}














































